.movieCard {
    color: black !important;
    display: flex;
    height: 100%;
    cursor: pointer;
    &:hover {
        img {
            transform: scale(1.3);
        }
    }
    img {
        object-fit: cover;
        overflow: hidden;
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        height: 100%;
    }
    .cardImg {
        overflow: hidden;
        margin: -10px;
        max-height: 360px;
        display: flex;
    }
}
.InCaming {
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(246, 248, 244, 0.87);
    border-radius: 20px;
    color: black;
    padding: 10px;
    background: linear-gradient(to right, #20456a 0%, #102336 100%);

    .item {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        cursor: pointer;
        li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            border: 1px solid #007bff;
            background: linear-gradient(to right, rgb(13 116 92) 0%, rgb(9 96 120) 100%);
            border-radius: 27px;
            padding: 10px 15px;
            margin-bottom: 8px;
            align-items: center;
            color: #e9e0e0;
            font-weight: bold;
            span {
                max-width: 90%;
            }
            &:hover {
                background-color: white;
                color: aqua;
            }
        }
    }
}
